<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Drivers</title>
  </head>
  <body>
    <h1>Bienvenido a la Aplicación de Conductores</h1>
    <p>Conectando pilotos y pasajeros para viajes seguros.</p>
    <img
      src="/images/F1.svg"
      alt="Imagen de un automóvil"
    />
  </body>
</html>
